.introduction {
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: flex-start;
  background-position: center;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8),
   rgba(245, 245, 245, 0.8)), url(../../assets/background.svg);
}

.introduction-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Barlow Condesed Semibold';
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.introduction-header {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

.introduction-info {
  max-width: 50rem;
  margin: 2rem 0 0 0;
}

.introduction-paragraph {
  font-family: 'Barlow Condesed';
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

.home-scroll {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

.project-button {
  padding: 1.5rem 7rem;
  font-size: 1.3rem;
}

@keyframes wheel {
  0% {
    top: 7px;
    opacity: 1;
  }
  50% {
    top: 16px;
    opacity: 0.5;
  }
  100% {
    top: 24px;
    opacity: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .introduction-paragraph {
      font-size: 2rem;
  }

  .home-content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }
}