.media-menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  top:  30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.media-menu img {
  height: 2em;
  width: 2em;
}

.media-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem;
}

.media-menu-list li {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.media-menu-list a {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 0.3em;
}

.media-menu-list li:hover {
  background-color: #e6e6e6;
}

@media only screen and (max-width: 56.25em) {
  .media-menu {
    display: none;
  }
}